.vscode/**
typings/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/bin
**/*.obj
**/*.psd
**/*.mtl
**/*.blend
**/lib/build/**
**/lib/export/**
**/lib/vendor/**
**/lib/pipeline/**